.ListGroup {
    text-align: center;
    border: 2px solid aqua;
    background-color: cadetblue;
    border-radius: 8px;
    margin: 10px;
}

.title {
    margin: 4px;
    color: hsl(0, 79%, 55%);
}

.itemOfList {
    margin: 3px;
    color: hsl(56, 83%, 56%);
    font: Arial, sans-serif;
    list-style-type: none;
}

.card {
    max-width: 60px;
    margin: 3px;
    display: flex;
    border: 1px solid black;
}

.alone-button {
    background-color: aqua;
    color: hsl(56, 95%, 31%);
    width: fit-content;
    height: fit-content;
}

.alone-button:hover {
    background-color: rgb(127, 214, 255);
    color: hsl(56, 95%, 20%);
}

button {
    border: none;
    background-color: inherit;
    max-width: 100px;
    max-height: 80px;
}

button:hover {
    cursor: pointer;
}

.user-container {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.bet-container {
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.hand-container {
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* removed position: absolute */
}
select {
	text-align: center;
    margin: 5px;
    padding: 5px;
	background-color: aqua;
	color: hsl(56, 95%, 31%);
	border-radius: 8px;
	border: none;
	width: 115px;
	height: 40px;
}

input {
    background-color: inherit;
    border: none;
    padding-left: 0;
    max-width: 100px;

    cursor: text;
    margin-left: 6px;
}
